/* stylelint-disable selector-class-pattern */
:root {
  --my-black: #212121;
  --my-brand: #4957c4;
  --my-brand-light: #6963eb;
  --my-faint-gray: #efebea;
  --my-gray: #817f7f;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  --my-hero: -webkit-linear-gradient(
    305deg,
    rgb(222 55 183) 0%,
    rgb(87 199 193) 50%,
    rgb(250 230 55) 100%
  );
}

html:not(.dark) {
  --vp-button-brand-bg: var(--my-brand) !important;
  --vp-button-brand-hover-bg: var(--my-brand-light) !important;
  --vp-c-brand-1: var(--my-brand) !important;
  --vp-c-brand-2: var(--my-brand-light) !important;
  --vp-c-text-1: var(--my-black) !important;
  --vp-c-text-2: var(--my-gray) !important;
  --vp-c-text-3: var(--my-faint-gray) !important;
  --vp-code-bg: #f7f5fc !important;
  --vp-code-block-bg: #fcf8f2 !important;
  --vp-code-line-highlight-color: rgb(251 200 64 / 38%) !important;
  --vp-code-line-number-color: var(--my-gray) !important;
  --vp-home-hero-name-color: transparent !important;
  --vp-home-hero-name-background: var(--my-hero) !important;
}

html:not(.dark) :focus-visible {
  outline-color: var(--my-brand-light) !important;
}

html:not(.dark) .VPSidebarItem .caret {
  color: var(--my-black) !important;
}

html:not(.dark) .VPSidebarItem.level-1 .text {
  font-weight: 400 !important;
}

html.dark {
  --vp-button-brand-bg: var(--my-brand) !important;
  --vp-button-brand-hover-bg: var(--my-brand-light) !important;
  --vp-home-hero-name-color: transparent !important;
  --vp-home-hero-name-background: var(--my-hero) !important;
}

html.dark .VPSidebarItem.level-1 .text {
  font-weight: 400 !important;
}
